extends base

block append head
	if quiz.css
		link(rel='stylesheet', href='/static/quiz/' + quiz.name + '/' + quiz.css)

	- var pageWidth = 1000;
	- var scale = quiz.width / quiz.previewWidth;
	- var xShift = -(pageWidth - quiz.width) / 2 / (scale - 1);

	style.
		.quiz {
			transform: none;
			transform-origin: #{xShift}px 0;
		}
		.quiz .map {
			transform: scale(#{1 / scale});
			width: #{quiz.width}px;
			height: #{quiz.height}px;
		}
		.quiz.progress {  transform: none; }
		.quiz.progress .map, .quiz.realsize .map { transform: none; }
		.quiz.grow { transform: scale(#{scale}); }
		.quiz.transition { height: #{quiz.height}px; }

block content
	- var mixinClass = quiz.mixins.map(function(mixin) { return 'mixin-' + mixin }).join(' ');
	.quiz.start(data-name=quiz.name, data-show=show, data-title=quiz.title, class=quiz.name + ' ' + mixinClass)
		.map(style={'background-image': quiz.rasterMap ? 'url(/static/quiz/' + quiz.name + '/' + quiz.rasterMap + ')' : 'none'})
			if quiz.getHtml
				!=quiz.getHtml()
			else if quiz.vectorMap
				!=quiz.svgContent
		.side(style={'min-height': quiz.height * quiz.previewWidth / quiz.width + 'px'})
			.description
				if quiz.color
					.quiz-title.colored(style={'background-color': quiz.color, color: quiz.foreColor})
						=stuff.capitalize(quiz.title)
				else
					.quiz-title=stuff.capitalize(quiz.title)
				.subtitle=quiz.subtitle
				.rules
					if quiz.instruction
						p=quiz.instruction
					if quiz.minAutocompleteLength
						p Система выведет подсказки после того, как вы введете
							| #{[null, 'одну первую букву', 'две первые буквы', 'три первые буквы', 'четыре первые буквы', 'пять первых букв'][quiz.minAutocompleteLength]}
							| #{quiz.entryTitleAcc}.
					h3 Правила игры:
					ul
						li время не ограничено;
						li подглядывать нельзя;
						li верное угадывание приносит 1 очко.
					p Результат ЭВМ выдаст в виде процентной доли от максимума. После этого вы сможете продолжить игру или поделиться результатом с друзьями.
				button.start Поехали!
			.results
		.statistics
		.bottom.sticky-bottom
			.sticky-inner
				.counter
					.inner
						each i in stuff.range(0, Object.keys(quiz.entries).length + 1)
							div #{i}/#{Object.keys(quiz.entries).length}
				button.finish(data-regular='Проверить', data-all='Я гений!') Проверить
		.tryalso
			.title Сыграйте также
			each q in tryalso
				a(style={ 'border-color': q.color }, href='/' + q.name)=stuff.capitalize(q.title)
					img.logo(src='/static/quiz/' + q.name + '/' + q.logo)
			a.flashy.rest(href='/', title='Все квизы')
				span .
				span .
				span .
		.comments
			.title.show-comments Комментарии
				.count.disqus-comment-count(data-disqus-identifier=quiz.name)
