if quiz.color
	.quiz-title.colored(style={'background-color': quiz.color, color: quiz.foreColor})=outcome[1]
else
	.quiz-title=outcome[1]
.stat.bar
	| Результат:
	.scale
		span.value #{Math.round(percent)} %
		span.extra (#{correct} из #{total})
		if outcome[2]
			span.note &nbsp;&mdash; #{outcome[2]}
		.bar(data-width=percent + '%')
if betterThan
	.stat Этот результат лучше чем у #{betterThan} % проходивших тест.
p.spent Вы потратили на тест #{spentString}, хотите #[span.pseudolink.continue продолжить]?
p.spent-no-continue Вы потратили на тест #{spentString}.
p Поделитесь результатом с друзьями:
.social
	each url, name in share
		a(class=name, href=url, target="_blank")
if shareImage
	p Ссылка на картинку:
		input.link(readonly, value=shareImage)
if quiz.stats.games
	p.show-statistics-container Закончить игру и #[span.pseudolink.show-statistics посмотреть полную статистику].
button.continue Продолжить
